{% extends "@Global/template.html.twig" %}

{% block title %}Sobre{% endblock %}

{% block stylesheets %}
    <script type="text/javascript">
        $(document).on("click", "#bt", function () {
            var id = $(this).data('id');
            var name = $(this).data('name');
            var description = $(this).data('description');
            var active = $(this).data('active');
            $(".modal-body #idAbout").val(id);
            $(".modal-body #nameAbout").val(name);
            $(".modal-body #descriptionAbout").val(description);
            $(".modal-body #activeAbout").val(active);
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="well-sm">
        <a href="#" data-toggle="modal"
           data-target="#modalCadastro">
            <button class="btn btn-link glyphicon-bishop"> Novo Registro</button>
        </a>
        <a href="{{ path('global_ActiveAbout', {'active': 'Active'}) }}">
            <button class="btn btn-link"><span class="glyphicon glyphicon-star"> Active</span></button>
        </a>
        <a href="{{ path('global_ActiveAbout', {'active': 'Inactive'}) }}">
            <button class="btn btn-link"><span class="glyphicon glyphicon-star-empty"> Inactives</span></button>
        </a>
        <a href="{{ path('global_ActiveAbout', {'active': 'All'}) }}">
            <button class="btn btn-link"><span class="glyphicon glyphicon-menu-hamburger"> All</span></button>
        </a>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">About table</h3>
        </div>
        <div class="panel-body">

            <div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
                <ul id="myTabs" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab"
                                                              aria-controls="home" aria-expanded="true">Home</a>
                    </li>
                    <li role="presentation" class=""><a href="#profile" role="tab" id="profile-tab" data-toggle="tab"
                                                        aria-controls="profile" aria-expanded="false">Cards</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">

                        <div class="well-sm">
                            <table class="table table-bordered table-responsive">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for reg in about %}
                                    <tr>
                                        <td>
                                            <div id="options-table" class="dropdown">
                                                <button class="btn btn-default dropdown-toggle" type="button"
                                                        id="dropdownMenu1"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="true">
                                                    <span class="glyphicon glyphicon-option-horizontal"></span>
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                    <li><a href="#" id="bt" data-toggle="modal"
                                                           data-target="#exampleModal" data-id="{{ reg.id }}"
                                                           data-name="{{ reg.name }}"
                                                           data-description="{{ reg.description }}"
                                                           data-active="{{ reg.active }}"><span
                                                                    class="glyphicon glyphicon-tasks"></span> Edit</a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ path('global_deleteAbout', { 'id' : reg.id }) }}"><span
                                                                    class="glyphicon glyphicon-remove-circle"></span>
                                                            Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>{{ reg.id }}</td>
                                        <td>{{ reg.name }}</td>
                                        <td>{{ reg.description }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">

                        <div class="well-sm">

                            <div class="row">
                                {% for reg in about %}
                                    <div class="col-sm-4 col-md-2 col-lg-2">
                                        <div class="thumbnail">
                                            <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTUyYTMzNzM2OTUgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMnB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNTJhMzM3MzY5NSI+PHJlY3Qgd2lkdGg9IjI0MiIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI4OS44NTkzNzUiIHk9IjEwNS4xIj4yNDJ4MjAwPC90ZXh0PjwvZz48L2c+PC9zdmc+"
                                                 alt="..." class="img img-responsive">
                                            <div class="caption">
                                                <h3>{{ reg.name }}</h3>
                                                <p title="{{ reg.description }}" data-toggle="tooltip"
                                                   data-placement="bottom">
                                                    {% if reg.description|length > 50 %}
                                                        {{ reg.description|slice(0, 50) }}...
                                                    {% else %}
                                                        {{ reg.description }}
                                                    {% endif %}
                                                </p>
                                                <div id="options-table" class="dropdown">
                                                    <button class="btn btn-default dropdown-toggle" type="button"
                                                            id="dropdownMenu1"
                                                            data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="true">
                                                        <span class="glyphicon glyphicon-option-horizontal"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                        <li><a href="#" id="bt" data-toggle="modal"
                                                               data-target="#exampleModal" data-id="{{ reg.id }}"
                                                               data-name="{{ reg.name }}"
                                                               data-description="{{ reg.description }}"
                                                               data-active="{{ reg.active }}"><span
                                                                        class="glyphicon glyphicon-tasks"></span>
                                                                Edit</a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('global_deleteAbout', { 'id' : reg.id }) }}"><span
                                                                        class="glyphicon glyphicon-remove-circle"></span>
                                                                Delete</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Edit About</h4>
                </div>
                <form method="post" action="{{ path('global_editAbout') }}">
                    <div class="modal-body">
                        <input type="hidden" name="id" id="idAbout">
                        <input type="hidden" name="active" id="activeAbout">
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Title:</label>
                            <input type="text" class="form-control" id="nameAbout" name="name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Description:</label>
                            <textarea class="form-control" id="descriptionAbout" name="description"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalCadastro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">New About</h4>
                </div>
                <form method="post" action="{{ path('global_addAbout') }}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="nameNewAbout" class="control-label">Title:</label>
                            <input type="text" class="form-control" id="nameNewAbout" name="name">
                        </div>
                        <div class="form-group">
                            <label for="descriptionNewAbout" class="control-label">Description:</label>
                            <textarea class="form-control" id="descriptionNewAbout" name="description"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">New</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% endblock %}
